* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cardo', serif;
    background-color: aliceblue;
}

a {
    text-decoration: none;
    font-size: 20px;
}

a:visited,
a:active,
a:link {
    color: black;
}

li {
    list-style: none;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
}

.background {
    height: 100%;
}

.background img {
    width: 100%;
    height: 100%;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #F1E3B4;
}

.nav-bar a {
    text-align: center;
    width: 120px;
    line-height: 51px;
}

.nav-bar a:hover,
a.active {
    background: #c1b692;
    color: #fff;
}

.text-header-1 {
    position: absolute;
    font-family: 'Painttext';
    top: calc(50% - 100px);
    left: calc(50% - 275px);
    color: white;
    font-size: 18pt;
    font-weight: bold;
}

.text-header-2 {
    position: absolute;
    font-family: 'Painttext2';
    top: calc(50% - 110px);
    left: calc(50% - 215px);
    color: #F3E6B9;
    font-size: 110pt;
    transform: rotate(-3deg);
}

.text-header-3 {
    position: absolute;
    font-family: 'Painttext';
    top: calc(50% - -32px);
    left: calc(50% - -45px);
    color: white;
    font-size: 20pt;
    font-weight: bold;
}


/* ----------------------- */

section {
    width: 1300px;
    margin: auto;
    margin-top: 50px;
}

.about-content h1 {
    font-style: italic;
    text-align: center;
}

.about-content h2 {
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 30px;
}

.about-content .ul {
    margin-bottom: 0;
}

.about-content ul {
    margin-top: 5px;
}

.about-content ul li {
    list-style-type: disc;
}

.list-content {
    margin-top: 50px;
    margin-bottom: 20px;
}

.list-content h1 {
    text-align: center;
    font-style: italic;
}

.list-border {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    height: 650px;
}

.card {
    width: 400px;
    height: 300px;
    cursor: pointer;
    background: #fff;
}

.thumbnail {
    width: 100%;
    height: 85%;
    cursor: pointer;
    overflow: hidden;
    transition: .2 all;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.name {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: 700;
    color: black;
}

.card:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}

.card:hover .name a {
    color: #025E37;
}

#upArrow {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    background-image: url(https://raw.githubusercontent.com/gunht/img/master/tiki/up-arrow.png);
    background-repeat: no-repeat;
    background-size: 18px 10px;
    background-position: center;
}