@font-face {
    font-family: Goldeye;
    src: url(./font/TUV-Domaine-Regular.ttf);
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    margin: auto;
    background: url("./img/bg3.png") center center no-repeat;
    background-size: cover;
    cursor: url("./img/cursor.png"), auto;
}

.text-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
    color: #987C52;
    font-family: Goldeye;
    font-size: 7em;
}

#start-game {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    letter-spacing: 10px;
}

#start-game span {
    cursor: url("./img/cursor2.png"), auto;
}

.text-layer .img-over {
    position: absolute;
    top: calc(50% - 155px - 150px);
    left: calc(50% - 200px);
    width: 400px;
}

.text-layer .text-gameover {
    position: absolute;
    /* color: #AD4715; */
    top: calc(50% - 55px);
    left: calc(50% - 282.5px);
}

.text-layer .text-playagain {
    font-style: italic;
    position: absolute;
    bottom: calc(50% - 24px - 90px);
    left: calc(50% - 65px);
    font-size: .2em;
}

.text-layer .img-win {
    position: absolute;
    top: calc(50% - 164px - 130px);
    left: calc(50% - 150px);
    width: 300px;
}

.text-layer .text-victory {
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 206.5px);
}

.text-layer .text-playagain2 {
    font-style: italic;
    position: absolute;
    bottom: calc(50% - 24px - 130px);
    left: calc(50% - 65px);
    font-size: .2em;
}

.text-layer.visible {
    display: flex;
    background: rgba(0, 0, 0, .9);
}

.container {
    width: 1400px;
    margin: auto;
}

.timer {
    width: 100%;
    padding-top: 20px;
    margin: 0 0 10px;
    display: flex;
    justify-content: center;
}

.timer progress {
    width: 100%;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    perspective: 500px;
}

.card {
    position: relative;
    width: 95px;
    height: 160px;
    margin-top: 5px;
    backface-visibility: hidden;
    cursor: url("./img/cursor2.png"), auto;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 500ms ease-in-out;
}

.card.flip .back-card {
    z-index: 0;
    transform: rotateY(-180deg);
}

.card.flip .font-card {
    transform: rotateY(0);
}

.card.hidden {
    visibility: hidden;
}

.back-card {
    z-index: 1;
}

.font-card {
    transform: rotateY(180deg);
}

.card img {
    width: 100%;
    height: 160px;
}