@font-face {
    font-family: 'caviar_dreams', sans-serif;
    src: url(../fonts/caviar_dreams/CaviarDreams_Bold.ttf);
}

@font-face {
    font-family: fonthoa;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}